<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="text-color">Dicoding Indonesia</h5>
      <p class="text-color text-darken-4">Dicoding adalah sebuah perusahaan startup yang bertujuan mengembangkan ekosistem developer di Indonesia. Berdiri sejak 5 Januari 2015, Dicoding memiliki platform pembelajaran elektronik di laman Dicoding.com.</p>


    </div>
    <div class="col l3 s12">
      <h5 class="text-color">Fast Link</h5>
      <ul>
        <li><a class="text-color" href="#home">Home</a></li>
        <li><a class="text-color" href="#about">About</a></li>
        <li><a class="text-color" href="#docs">Docs</a></li>
        <li><a class="text-color" href="#story">Story</a></li>
      </ul>
    </div>
    <div class="col l3 s12">
      <h5 class="text-color">Connect</h5>
      <ul>
        <li>
          <a class="text-color" target="_blank" href="https://dicoding.com">
            <img src="../img/dicodinglogo.png" alt="DicodingLogo" width="200px">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  <span class="text-color">Made by</span> <a class="text-color" href="http://github.com/bryantobing12">Bryan Lumbantobing</a>
  </div>
</div>