<div class="container" style="padding:50px 0px;">
  <h4>Feedback from our users</h4>
  <ul class="collection">
    <li class="collection-item avatar">
      <img src="../../img/user6.jpg" alt="user-feedback" class="circle">
      <span class="title">Bryan Lumbantobing</span>
      <p>Belajar di dicoding sangatlah menyenangkan dan mudah untuk dipahami<br>
         @bryanltobing
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="../../img/user1.jpeg" alt="user-feedback" class="circle">
      <span class="title">Primus Lumbantobing</span>
      <p>Pokoknya dijamin dapat ilmu baru dan pengetahuan baru di bidang web developer, terutama materi di kelas ini yang bisa membuat website yang bahkan bisa di instal di perangkat smartphone layaknya aplikasi native mobile. Terimakasih Dicoding<br>
         @primusltobing
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="../../img/user2.jpg" alt="user-feedback" class="circle">
      <span class="title">Exaudi Lumbantobing</span>
      <p>Selama belajar PWA di Dicoding benar-benar berkesan. Salah satunya adalah memperkenalkan saya ke paradigma baru dalam membuat aplikasi web, dimana tidak hanya fungsi-fungsi tampilan saja melainkan fungsi-fungsi lebih spesifik yang membuat aplikasi web bisa berjalan dengan lebih baik dan efisi..<br>
         @exaudiltobing
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="../../img/user3.jpg" alt="user-feedback" class="circle">
      <span class="title">Lumbantobing</span>
      <p>Beneran materi standar industri (besar). Semua Android developer wajib bisa terapin clean architecture ngoding, jangan sekedar ngoding. Ada ilmunya, ada best-practice nya. Materi di kelas ini yang ngebedain mana programmer beneran, dan mana yang terbuat plastik<br>
         @ltobing
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="../../img/user4.jpg" alt="user-feedback" class="circle">
      <span class="title">Tobing</span>
      <p>Gokil kelasnya, sempet ditolak beberapa kali, malah makin tertantang buat nyelesaiin. Cocok banget buat yang mau eksplorasi, karena di sini diajarkan membuat codebase yang versi kita banget - kita bebas ngedesign base-nya. Pokoknya mantap ngga sia-sia. Sangat bermanfaat dan menyenangkan.<br>
         @tobing
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <img src="../../img/user5.jpg" alt="user-feedback" class="circle">
      <span class="title">Lumban</span>
      <p>Kelas yang mendalam mulai dari CNN, NLP, Time Series, hingga Deployment. Sangat bermanfaat karena banyak skill dan ilmu yang saya rasakan peningkatannya. Bahkan kelas ini memberikan saya inspirasi bagaimana meningkatkan model yang saya buat sendiri sebagai proyek pribadi.  <br>
         @lumban
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    
  </ul>
</div>