<div class="container">
  <div class="row" style="margin-bottom: 0;">
    <div class="col s12 m8 offset-m1 xl7 offset-xl1 center-on-small-only">
      <h1 class="header">Getting Started</h1>
      <h4 class="light">Buatlah website yang canggih dan modern dengan menerapkan Progressive Web Apps.</h4>
    </div>

    <div class="col s12 m8 offset-m1 xl7 offset-xl1 center-on-small-only">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../img/pwa2.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Progressive Web Apps<i class="material-icons right">more_vert</i></span>
          <p><button style="font-weight: bold;" class="waves-effect waves-light btn activator">Detail</button></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Progressive Web Apps<i class="material-icons right">close</i></span>
          <p>Membangun Progressive Web Apps (PWA) memiliki manfaat yang luar biasa, website Anda dapat diinstal pada mobile devices dan dijalankan secara offline. Selain itu, ServiceWorker sebagai salah satu komponen PWA dapat membantu meringankan traffic transaksi hingga 84% pada website Anda. Dengan menerapkan PWA, website Anda dapat menggunakan fitur push notification yang dapat menarik konsumen untuk kembali mengunjungi website Anda. Penerapan PWA sudah terbukti membantu AliExpress, bagian dari Alibaba Group, dalam meningkatkan konversi untuk pengguna baru di semua browser sebesar 104% dan di iOS sebesar 82%.
            Kelas ini membahas tuntas mengenai komponen yang dibutuhkan untuk menerapkan Progressive Web Apps seperti App Shell, Service Worker, Web Push, dan Web Apps Manifest. Disusun dan diverifikasi oleh Codepolitan sebagai partner kami dalam mengembangkan akademi, materi yang disajikan terstruktur dan komprehensif.
            </p>
            <p>
              Anda tentukan sendiri berapa lama waktu belajar materi kelas ini. Materi kelas didesain untuk diselesaikan dalam waktu 70 jam. Jika Anda meluangkan waktu sedikitnya 10 jam saja dalam seminggu, maka sangat dimungkinkan Anda bisa menuntaskan kelas ini dalam waktu 50 hari. Namun tidak menutup kemungkinan Anda menyelesaikan dalam waktu yang jauh lebih cepat.
            </p>
        </div>
      </div>
    </div>
  
</div>
