<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Our Story</h4>
        <p class="left-align light">
          Dicoding adalah Google Authorized Training Partner pertama dan satu-satunya saat ini di Indonesia. Google telah mengundang Dicoding untuk hadir di Google I/O sejak 2016 hingga sekarang. Google I/O sendiri merupakan ajang tahunan di mana ribuan developer berkumpul untuk mendengarkan, berbagi, dan berjejaring seputar teknologi Google.
          Di Google #IO18 kehadiran kami diwakili Adrianus Yoza Aprilio, Dicoding Chief Innovation Officer.
          Sekelumit cerita seru dari event 8-10 Mei lalu di Shoreline Amphitheatre, Mountain View, Amerika Serikat, terangkum di sini.
          Sesi Paling Menarik.
          Dalam perhelatan ini ada konferensi utama dan side events-nya. Side events ini berupa kegiatan pra-acara, meetups, networking, dan dinner yang diadakan kelompok developer dan Googlers. Buat side events, gak bisa diceritain yah, karena ada beberapa hal menarik yang rahasia dari kantor Google :D. Tunggu aja rilisnya dalam beberapa waktu kedepan.
          Salah satu topik sharing TER-menarik dari Googlers di #IO18 adalah Challenges and Learnings of Building for the Next Billion Users. Di sesi hari kedua I/O 2018 ini, 3 orang Google Engineers berbagi cerita tentang produk Google yang didesain untuk negara berkembang, khususnya India.
          Memang, fokus untuk mempelajari dan menerapkan teknologi internet terdepan, ada di negara-negara dengan penduduk cukup Banyak seperti India, Brazil, Cina, Nigeria, Bangladesh, dan Indonesia termasuk didalamnya. Kenapa? Karena masa depan internet ada di tangan next billion users (NBU), yaitu generasi terbaru digital native dengan behaviour-nya yang partikular dalam menggunakan internet. Berbeda dengan generasi sebelumnya yang mengenal internet dari komputer, Generasi NBU ini mengenal Internet dari ponsel atau perangkat mobile. Ketergantungan pada teknologi mobile, misalnya. Sejalan dengan pesatnya pertumbuhan penduduk di negara-negara berkembang, next billion users akan berasal dari negara-negara tersebut, termasuk Indonesia.
          Jadi lumayan relevan bagi kita untuk nimbrung di sesi ini nih.  Klik untuk menyimak video.
          Di akhir acara kami berbincang in-person dengan Josh Woodward, Program Manager dari Google’s Next Billion Users ini. Ia siap menyediakan sumber daya dari riset Google untuk Dicoding. Spesifiknya, untuk pengembangan Dicoding Academy, khususnya kelas Menjadi Android Developer Expert. Wow!
          Sesi dua arah yang paling berkesan adalah Android Fireside Chat yang rutin digelar setiap I/O. Bayangkanlah semacam ajang curhat dari Android Developer dari seluruh dunia. Dan yang menjawab curhatan itu, tim Android Google, dengan jokes-jokes garing ala developer. Banyak deh pembahasan menarik yang jadi concern bersama kita, para Android Developer.
          Mau juga dengarkan suara hati sesama Android Developer, plus balasannya dari tim Google? Klik untuk menyimak video sesi ini.
          Kesempatan Berjejaring
          Kami tentu tak menyia-nyiakan kesempatan langka untuk berjejaring dengan prominent figures di Google. Peter Lubbers salah satunya. Senior Programme Manager for Developer Training ini berseru “Seriously, your book should be translated into English” sambil antusias membolak-balik halaman buku Kotlin yang kami bawa dari Bandung.
          Mendengarnya, seketika ada angin segar di tengah cuaca nggak jelas, panas terik – tapi berangin dingin di Mountain View saat itu 🙂
          Ada juga Frank Greco, sosok familiar bagi Dicoding. Ia yang memverifikasi materi Menjadi Android Developer Expert di awal 2017, sebelum akhirnya kami merilis kelas. Sosok Google Senior Consultant  yang ramah dan hangat ini pun berpesan: “Jalin kedekatan dengan konteks developer. Itu penting.” Note it, Champ!
          Terakhir, rockstar Developer dari Indonesia, Rendra Toro, bertemu dengan Kotlin Software Engineer dari Google, Jake Wharton. Kotlin dan Android lovers pasti familiar dengan “artis” yang cukup legendaris dalam Kotlin development ini. Lagi, kami mendengar seruan “Great, translate it into English!”
          Apa ini pertanda bahwa batch Kotlin Android Developer Expert Juni 2018 berikutnya mesti dalam bahasa Inggris?? Well..mungkin tidak 😀 Nanti pada kabur deh.
          Apa yang Kami Bawa Pulang?
          Dua kali mengecap konferensi akbar sekelas Google I/O tahun 2017 dan 2018, Yoza, CIO kami berujar “Kami sadar bahwa teman-teman di Indonesia tak kalah dengan teman-teman lain di seluruh dunia. Mungkin belum semuanya setara, tetapi ada beberapa developer kita yang bahkan mungkin lebih dari mereka, jika kita memperhitungkan kondisi (circumstances) yang kita hadapi.”
          So it’s pride, contentment, critics, dan semangat untuk berkarya lebih, yang kami bawa pulang. Selain first-hand insight tentang kemajuan teknologi internet terkini serta jejaring sosial, tentunya.
          Lewat acara seperti ini, developer Indonesia bisa memanfaatkan sumber daya luar biasa yang dimiliki Google sebagai perusahaan teknologi tingkat dunia. Yes, salah satunya adalah: riset. riset, dan riset. Berbagai teknologi menarik dipamerkan Google di acara ini. Terkait Android, Web, Assistant, Payments, IoT, hingga Self-driving cars. Baik yang sudah dirilis ke publik sebelum IO, maupun yang baru dipamerkan saat IO.
          Di sini developer Indonesia juga dapat berelasi, berjejaring dengan Googlers, Google Developer Expert dan praktisi lainnya, dan bekerja sama untuk mengembangkan kemampuan developer tanah air. Pasti kita semua ingin makin banyak developer Indonesia yang kemampuannya setara atau bahkan lebih dari negara lain. Google I/O ini jadi pemantik semangat untuk kami bilang dan take action: “Yes we CAN!”
          Don’t miss out major updates dari perhelatan ini ya. Klik di sini untuk melihat playlist rekaman semua sesi di Google IO. 
          See you Google I/O 2019!
        </p>
      </div>
    </div>

  </div>
</div>
